* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section1 {
    background: #1F2937;
    color: white;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.navbarLinks {
    display: flex;
    gap: 25px;
    font-size: 18px;
}

.navbarLinks a {
    color: white;
    text-decoration: none;
}

.navbarLinks a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.section1Container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.sec1Title {
    width: 44%;
    display: flex;
    flex-direction: column;
    gap: 15px
}

.sec1Title h1 {
    font-size: 50px;
    font-weight: 1000;
}

.sec1Title p {
    font-size: 20px;
}

.sec1Title button {
    padding: 10px;
    width: 140px;
    background-color: rgb(0, 102, 255);
    color: white;
    border:none;
    border-radius: 5px;
    font-size: 20px;
}

.sec1Title button:hover {
    background-color: white;
    color:black;
    transition: .3s;
    cursor: pointer;
}

.sec1Image {
    width: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 231, 135);
    color:black;
    height: 50%;
}


.section2 {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 80px;
}

.sec2Title {
    font-size: 36px;
    padding: 20px 0;
}

.sec2Boxes {
    display: flex;
    width: 66%;
    padding-top: 15px;
    gap: 30px
}

.sec2Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:3px;
}

.sec2Box div {
    border: 3px solid rgb(0, 102, 255);
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.section3 {
    background-color: gainsboro;
    height: 50vh;
    box-sizing: border-box;
    padding: 80px 250px;
}

.section3 p {
    font-size: 40px;
    font-style: italic;
}

.section4 {
    height: 45vh;
    box-sizing: border-box;
    padding: 0 200px;
    display: flex;
    align-items: center;
}

.sec4Box {
    background-color: rgb(0, 102, 255);
    width: 100%;
    display: flex;
    color: white;
    padding: 50px 80px;
    border-radius: 10px;
    justify-content: space-between;
}

.sec4ButtonDiv {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 44%;
}

.sec4ButtonDiv button {
    padding: 8px 30px;
    border: 2px solid white;
    color:white;
    background-color: transparent;
    border-radius: 10px;
    font-size: 20px;
}

.sec4ButtonDiv button:hover {
    background-color: white;
    color: black;
    cursor:pointer;
    transition: .3s;
}

footer {
    background-color: #1F2937;
    color: white;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
}